# FINAL PROJECT - **Tools for Data Science**

## INTRODUCTION
#### This project is the final work for the tools for data science module.

## Data Science Languages
* Phyton.
* R.
* SQL.
* Scala.
* Java.
* C++.
* Julia.
* JS.
* PHP.
* Ruby.
* Visual Basic.

## Data Science Libraries
- Pandas.
- Numpy.
- Plotly.
- Scikit-learn.
- Category-encoders.
- Imbalance Learning.
- LightGBM / XGBoost.
- Keras / Tensorflow.
- Dplyr.
- data.tables.

## Table of data science tools

<table><tr><th>TOOLS 1<th><th>TOOLS 2<th><th>TOOLS 3<tr><tr>
<tr><td>MySQL<td><td>PostgreSQL<td><td>MongoDB<td><tr>
<tr><td>CouchDB<td><td>Cassandra<td><td>Hadoop HDFS<td><tr>
<tr><td>CEPH<td><td>Elasticsearch<td><td>Spark<td><tr>
<tr><td>Kibana<td><td>Jupyter<td><td>Knime<td><tr><table>

## Arithmetics expressions

In [18]:
8**2+50/2

89.0

In [19]:
(25/3)+(93/4)*3**7-40

50816.083333333336

In [30]:
X = 4
Y = 20
(3*X/2*Y) * 4*X-2 / 7*Y+3

1917.2857142857142

## Multiply and add numbers

In [44]:
print("NUMBER 1:")
N1 = input()
print("NUMBER 2:")
N2 = input()
N1 = float(N1)
N2 = float(N2)

NUMBER 1:
9
NUMBER 2:
3

In [45]:
print("ADD NUMBERS:") 
N1 + N2

ADD NUMBERS:

12.0

In [46]:
print("MULTIPLY NUMBERS:") 
N1 * N2

MULTIPLY NUMBERS:

27.0

## Convert minutes to hours

In [51]:
print("MINUTES:")
N1 = input()
N1 = float(N1)
print("HOURS:")
N1 / 60

MINUTES:
2860
HOURS:

47.666666666666664

# OBJETIVES

### Learn important tools for data science.
### Improve Jupyter knowledge.
### Improve Markdown knowledge.

# AUTOR - Cristhian Johan Rodr√≠guez Cardona